body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align : center;
}
#output{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid;
    min-height: 100px;
}